body {
  font-family: helvitica;
  }
.content-contact{
  text-align:left;
}
.container{
  background: #d3d3d3;
  border-radius:15px;
  margin:auto;
  max-width:1040px;
}
  
}
p{
  font-family: helvitica;
}
