body {
  font-family: helvitica;
  }
.content-contact{
  text-align:left;
}
.container{
  background: #d3d3d3;
  border-radius:15px;
  margin:auto;
  max-width:1040px;
  padding-top: 10px;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 200px;
}
